.delivery{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.title{
    font-family: MontserratRegular;
    font-size: 11px;
}

.options {
    display: flex;
    width: 270px;
    justify-content: space-between;
    margin-left: 14px;
}

.buttonDefault {
    @mixin removeDefaultButton
}

.optionButton {
    width: 130px;
    height: 50px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

.optionButtonActive {
    border: 1px solid #85cf73;
}

.optionImg{
    width: 103px;
    height: 38px;
}