.popup {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.container {
    position: relative;
    z-index: 1500;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    position: relative;
}

.cross {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.scrollContentOuter {
    height: 100%;

    &:before {
         display: inline-block;
         height: 100%;
         vertical-align: middle;
         content: "";
     }
}

.scrollContentInner {
    display: inline-block;
    vertical-align: middle;
}
