.product{
    width: 210px;
    height: 275px;
    margin: 30px 24px 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.product:hover .infoWrapper .info{
    visibility: hidden;
}

.product:hover .infoWrapper .toolBar{
    transition: 0.3s;
    display: flex;
}

.product:hover .infoWrapper{
    transition: 0.3s;
    background-color: #131313;
}

.imageWrapper{
    display: flex;
    justify-content: center;
    position: relative;
    height: 186px;
    overflow: hidden;
}

.labels{
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    background-color: #ffffff;
    z-index: 100;
}

.tags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tags :last-child{
    margin-right: 0;
}

.tags :first-child{
    margin-right: 20px;
}

.tag{
    width: 45px;
    margin-right: 5px;
    font-family: HelveticaNeueCyrRoman;
    font-size: 6.5px;
    line-height: 14px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img{
    height: 186px;
    width: 200px;
}

.infoWrapper{
    background-color: #fff;
    position: relative;
}

.infoWrapperDisabled{
    background-color: #fff;
    position: relative;
}

.info{
    width: 210px;
    height: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Montserrat-Bold;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.32;
    text-align: center;
    color: #0a0f0f;
}

.manufacturer{
    font-size: 7.5px;
    font-family: Montserrat-Bold;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.prices{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.price{
    font-family: Montserrat-Medium;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.priceDiscount{
    color: #ff0000;
    position: relative;
}

.previousPrice{
    position: absolute;
    color: #000000;
    font-family: MontserratRegular;
    font-size: 12.5px;
    line-height: 18px;
    text-align: center;
    top: 0;
    text-decoration: line-through;
    left: 0;
}

.toolBar{
    display: none;
    height: 59px;
    width: 210px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.toolBarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-family: Myriad Pro Regular;
    color: #fff;
    font-size: 8.5px;
    flex-wrap: wrap;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-transform: uppercase;
}

.toolBarIcon{
    margin-bottom: 6px;
}

.quickInspection .toolBarIcon{
    width: 21px;
    height: 16px;
}

.heart .toolBarIcon{
    width: 17px;
    height: 16px;
}

.basket .toolBarIcon{
    width: 20px;
    height: 19px;
}

.toolBarItem:hover {
    color: #00a046;
}

.isInBasket, .isLiked{
    color: #00a046;
}

.eyeIcon{
    background: url('/src/apps/client/ui/components/Product/icons/eye.png') center;
    background-size: 100% auto;
}

.toolBarItem:hover .eyeIcon{
    background: url('/src/apps/client/ui/components/Product/icons/eyeGreen.png') center;
    background-size: 100% auto;
}

.heartIcon{
    background: url('/src/apps/client/ui/components/Product/icons/heart.png') center;
    background-size: 100% auto;
}

.isLikedHeart{
    background: url('/src/apps/client/ui/components/Product/icons/heartGreen.png') center;
    background-size: 100% auto;
}

.toolBarItem:hover .heartIcon{
    background: url('/src/apps/client/ui/components/Product/icons/heartGreen.png') center;
    background-size: 100% auto;
}

.basketIcon{
    background: url('/src/apps/client/ui/components/Product/icons/basket.png') center;
    background-size: 100% auto;
}

.isInBasketIcon{
    background: url('/src/apps/client/ui/components/Product/icons/basketGreen.png') center;
    background-size: 100% auto;
}

.toolBarItem:hover .basketIcon{
    background: url('/src/apps/client/ui/components/Product/icons/basketGreen.png') center;
    background-size: 100% auto;
}

.name{
    font-family: Montserrat-Bold;
    font-size: 13.5px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.notAvailableHover{
    position: absolute;
    width: 110%;
    height: 100%;
    margin-left: -5%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.notAvailable{
    width: 184px;
    height: 32px;
    background-color: #000000;
    text-transform: uppercase;
    font-family: Montserrat-Bold;
    font-size: 11px;
    line-height: 11.5px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
