.filter{
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1023px) {
        align-items: center;
    }
}

.list {
    margin-top: 23px;

    @media (max-width: 1023px) {
        margin-top: 10px;
    }
}

.filterTxt{
    font-family: Montserrat, arial;
    font-weight: bold;
    text-align: left;
    color: #232323;
}

.filterName{
    font-size: 16px;
}

.label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filterOption{
    display: flex;
    align-items: center;
    margin-top: 19px;
}

.filterOptionTxt{
    font-size: 11px;
    margin-left: 14px;
    text-transform: uppercase;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.filterCheckbox {
    width: 8px;
    height: 8px;
    border: solid 1px #000000;
    background-color: transparent;
    margin: 0 0;
    cursor: pointer;
}

.filterCheckboxActive {
    border: solid 1px #bababa;
    background-color: #00a046;
}