.sliderContainer{
    width: 600px;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    border: 3px solid #ffffff;

    @media (max-width: 1169px){
        width: 100%;
        height: auto;
        border: none;
    }
}

.slides{
    position: relative;
    display: flex;
    align-items: center;
    transition: 800ms ease;
}

.productPreviewSlide{
    width: 600px;
    flex-shrink: 0;
    height: auto;
    display: inline-block;

    @media (max-width: 1169px){
        width: 100%;
    }
}

.slidePhoto{
    width: 100%;
    height: auto;
}

.button {
    @mixin removeDefaultButton;

    position: absolute;
    cursor: pointer;

    @media (max-width: 1169px){
        position: unset;
    }
}

.buttonTop{
    top: -46px;

    @media (max-width: 1169px){
        transform: rotate(-90deg);
    }
}

.buttonBottom{
    bottom: -46px;

    @media (max-width: 1169px){
        transform: rotate(-90deg);
    }
}

.buttonImage {
    background-size: 100% auto;
    width: 32px;
    height: 32px;
}

.buttonBottom .buttonEnabled{
    background: url('/src/apps/client/ui/components/ProductCardCarousel/images/bottomArrow.png') center;
}

.buttonBottom .buttonDisabled{
    background: url('/src/apps/client/ui/components/ProductCardCarousel/images/bottomArrowGrey.png') center;
}

.buttonTop .buttonEnabled{
    background: url('/src/apps/client/ui/components/ProductCardCarousel/images/topArrow.png') center;
}

.buttonTop .buttonDisabled{
    background: url('/src/apps/client/ui/components/ProductCardCarousel/images/topArrowGrey.png') center;
}

.dotsContainer{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    position: absolute;
    bottom: 0;
    left: 0;

    @media (max-width: 1169px){
        width: 100%;
    }
}

.buttonDots{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonDots :last-child{
    margin-right: 0;
}

.dot{
    width: 13px;
    height: 13px;
    margin-right: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.dotActive{
    background-color: #00a046;
}

.buttonDots .lastChildDot{
    margin-right: 0;
}

.sliderLeftContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (max-width: 1169px){
        flex-direction: row;
        margin: 2.5vw 0 52px 0;
    }
}

.slidesContainer{
    overflow: hidden;
    height: 240px;

    @media (max-width: 1169px){
        width: 65vw;
        height: auto;
    }
}

.sliderLeftSlides{
    position: relative;

    @media (max-width: 1169px) {
        display: flex;
        align-items: center;
    }
}

.sliderLeftSlides :last-child{
    margin: 0;
}

.sliderLeftSlide{
    width: 80px;
    height: 70px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    opacity: 0.5;
    transition: .5s ease;
    cursor: pointer;

    @media (max-width: 1169px){
        display: inline-block;
        width: 20vw;
        height: auto;

    &:not(:last-child) {
         margin: 0 2.5vw 0 0;
     }
    }
}

.sliderLeftActive{
    opacity: 1;
}

.sliderLeftPhoto{
    width: 100%;
    height: 100%;
}

.sliders{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1169px){
        flex-direction: column-reverse;
        width: 100%;
    }
}
