.form{
    position: relative;
    margin-right: 50px;
}

.searchFormInput{
    font-family: MontserratRegular;
    color: #9c9c9c;
    line-height: 24px;
    font-size: 16px;
    text-align: left;
    width: 274px;
    height: 46px;
    border: solid 1px #323232;
    border-radius: 50px;
    background-color: #232323;
    outline: none;
    padding: 0 26px;
}

.searchFormInput::-ms-clear {
    width : 0;
    height: 0;
}

.searchFormInputActive {
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: solid 0px black;
}

.searchFormInputActive::-ms-clear {
    width : 0;
    height: 0;
}

.searchFormIcon{
    width: 18px;
    height: 18px;
    background-color: #232323;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 26px;
    top: 14px;
}

.searchIcon{
    position: absolute;
    top: 0;
    left: 0;
}

.tipsRoot {
    position: absolute;
    top: 100%;
    z-index: 34;
    background-color: #222222;
    width: 274px;
    display: flex;
    justify-content: center;
    border: solid 1px #323232;
    border-top: solid 0px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
}

.tipsWrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.break {
    width: 240px;
    height: 1px;
    background-color: #030503;
}

.adviceContainer{
    width: 268px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.adviceContainer :last-child{
    margin-bottom: 5px;
}

.tipLink{
    text-decoration: none;
}

.tip {
    display: flex;
    align-items: center;
    width: 100%;
    height: 22px;
    color: #9c9c9c;
    font-family: HelveticaNeueCyrRoman;
    font-size: 14.5px;
    padding: 5px 0 5px 22px;
    cursor: pointer;
    transition: color .1s ease;
}

.tip:hover {
    color: #00a046;
}