.feedback, .comment{
    font-family: HelveticaNeueCyrRoman;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.feedback{
    padding: 0;
}

.comment{
    padding: 12px 0;
}

.commentsWrapper{
    padding: 24px 36px;
    width: 60%;
    margin: 0 auto;
    background-color: #f1f1f1;

    @media (max-width: 1169px){
        width: 90%;
    }

    @media (max-width: 720px){
        width: 100%;
    }
}