.feedback{
    font-family: HelveticaNeueCyrRoman;
    font-size: 12px;
    line-height: 3.25;
    text-align: center;
    color: #000000;
    background-color: #f1f1f1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}