.root{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 1000;
    visibility: hidden;

    @media (max-width: 900px){
        z-index: 2000;
    }
}

.rootVisible{
    visibility: visible;
}

.backing{
    opacity: 0;
    transition: 800ms ease;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255 , 255, 0.5);
}

.backingVisible{
    visibility: visible;
    opacity: 1;
}

.popupContent{
    height: 100%;
    padding: 35px;
    padding-right: 0;
    background-color: #131313;
    position: absolute;
    width: 420px;
    top: 0;
    right: -420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 800ms ease;
    z-index: 1000;

    @media (max-width: 900px){
        z-index: 2000;
    }

    @media (max-width: 500px){
        width: 100%;
        right: -100%;
    }
}

.popupContentVisible{
    right: 0;
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 46px;
    height: 22px;
    padding-right: 35px;
}

.header{
    font-family: HelveticaNeueCyrBold;
    font-size: 27px;
    color: #ffffff;
    text-transform: uppercase;
}

.closeButton{
    font-family: HelveticaNeueCyrLight;
    font-size: 50px;
    color: #ffffff;
    transform: rotate(45deg);
    position: relative;
    bottom: 3px;
    cursor: pointer;
    user-select: none;
}

.items{
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px;
    margin-bottom: 22px;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 10px;

    &:not(:last-child) {
         margin-bottom: 22px;
     }
}

.itemImageWrapp{
    position: relative;
}

.deleteItem{
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
    top: 0px;
    left: 0px;
    position: absolute;
}

.itemImage{
    width: 87px;
    height: 79px;
    overflow: hidden;
}

.itemAvatar{
    width: auto;
    height: 100%;
}

.itemInfo{
    width: 150px;
    margin-left: 24px;
}

.itemName{
    font-family: HelveticaNeueCyrBold;
    font-size: 10.5px;
    line-height: 16px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: -3px;
}

.itemCategory{
    font-family: HelveticaNeueCyrRoman;
    font-size: 8px;
    line-height: 19px;
    color: #5e5e5e;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.itemPrice{
    font-family: HelveticaNeueCyrBold;
    font-size: 12.5px;
    line-height: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

.prices{
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
}

.priceDiscount{
    color: #ff0000;
    position: relative;
}

.previousPrice{
    position: absolute;
    color: #ffffff;
    font-family: MontserratRegular;
    font-size: 10.5px;
    line-height: 18px;
    text-align: center;
    top: -17px;
    text-decoration: line-through;
    left: 50px;
}

.amountTxt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    padding-right: 35px;
}

.amountTxt :only-child{
    font-family: HelveticaNeueCyrBold;
    font-size: 8px;
    color: #ffffff;
    text-align: center;
    width: 60px;
    text-transform: uppercase;
}

.itemAmount{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: HelveticaNeueCyrBold;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #ffffff;
}

.amountButton{
    cursor: pointer;
}

.priceBlock {
    padding-right: 35px;
}

.line {
    height: 1px;
    background-color: #ffffff;
}

.priceTotal{
    font-family: HelveticaNeueCyrRoman;
    font-size: 16px;
    line-height: 33.5px;
    color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 35px;
}

.buttonsWrapp{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 35px;
}

.buttonDefault {
    @mixin removeDefaultButton
}

.buttons{
    font-family: HelveticaNeueCyrBold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    line-height: 35px;
    width: 100%;
    height: 44px;
}

.continueShopping{
    margin-bottom: 22px;
    background-color: #fff;
}

.txt {
    color: white;
    text-align: center;
    font-family: HelveticaNeueCyrRoman;
}

.link {
    width: 100%
}

.ordering{
    background-color: #4cb34f;
    color: white;
}

.productLink{
    display: flex;
    align-items: center;
}