.root{
    width: 936px;
    margin-left: 89px;


    @media (max-width: 1240px){
        width: 702px;
    }

    @media (max-width: 1023px) {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.productsFilter{
    display: flex;
    height: 10px;
    justify-content: flex-end;

    @media (max-width: 1023px) {
        width: 100%;
        display: block;
    }
}

.filter{
    display: flex;
    justify-content: space-between;
    width: 360px;
    font-family: MontserratMedium, arial;
    font-size: 14px;
    color: #232323;

    @media (max-width: 1023px) {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

.link {
    text-decoration: none;
}

.sortingHeader{
    padding: 18px 0;
}

.productsWrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;

    @media (max-width: 1023px) {
        margin: 120px auto 0 auto;
        max-width: 702px;
        justify-content: center;
    }

    @media (max-width: 840px) {
        margin: 120px auto 0 auto;
        max-width: 468px;
    }

    @media (max-width: 560px) {
        justify-content: center;
    }
}


