.root{
    width: 936px;
    margin-left: 89px;
}

.productsFilter{
    display: flex;
    height: 17px;
    justify-content: flex-end;
}

.filter{
    display: flex;
    justify-content: space-between;
    width: 360px;
    font-family: Montserrat-Medium, arial;
    font-size: 14px;
    color: #232323;
}

.filterWrapp{
    display: flex;
    justify-content: space-between;
    font-family: Montserrat-Bold, arial;
    width: 218px;
    font-weight: bold;
}

.filterItem{
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
         text-decoration: underline;
    }
}

.activeFilterItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sortingOptions:last-child{
    margin-bottom: 0;
}

.productsWrapper{
   display: flex;
   flex-wrap: wrap;
   margin-top: 90px
}

.link {
    text-decoration: none;
}

.sortingOptions{
    background-color: #eaeaea;
    border-radius: 50px;
    padding: 20px 25px;
    font-family: Montserrat-Bold;
    font-size: 12px;
    line-height: 8px;
    color: #030503;
    text-align: left;

}
