.root{
    width: 936px;
    margin-left: 89px;
}

.productsFilter{
    display: flex;
    height: 10px;
    justify-content: flex-end;
}

.filter{
    display: flex;
    justify-content: space-between;
    width: 360px;
    font-family: Montserrat-Medium, arial;
    font-size: 14px;
    color: #232323;
}

.link {
    text-decoration: none;
}

.sortingHeader{
    padding-top: 18px;
}

.productsWrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px
}
