.starsWrapper {
    height: 12px;
    position: relative;
    top: -43px;
}

.stars{
    margin-bottom: 33px;
}

.stars :last-child{
    margin-right: 0;
    width: 16px;
}

.star{
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}