.buttonField {
    padding-top: 15px;
    display: flex;
    flex-direction: column;

    &_position {
        &_center {
             justify-content: center;
         }

        &_right {
             justify-content: right;
         }
     }
}

.buttonField_position_start {
    align-items: flex-start;
}

.buttonField_position_end {
    align-items: flex-end;
}

.buttonField_position_center {
    align-items: center;
}

.buttonDefault {
    @mixin removeDefaultButton
}

.button {
    font-family: HelveticaNeueCyrBold;
    background-color: #2fa244;
    text-transform: uppercase;
    color: white;
    font-size: 11.5px;
    z-index: 99;
    width: 162px;
    border: 0px;
    height: 40px;
    transition-duration: .2s;
    transition-property: background-color, color;
    padding: 15px 14px;
    cursor: pointer;
    &:hover {
        background-color: #2e883e;
    }
}

.buttonField_background_typeOrder {
    width: 288px;
}

.uppercase {
    text-transform: uppercase;
}

.disabled {
    background-color: #d9d9d9;
    &:hover {
        background-color: #d9d9d9;
    }
}