.footer_container{
    width: 100%;
    height: 66px;
    background-color: #131313;
}
.icons_container{
    max-width: 1438px;
    min-width: 1170px;
    padding: 0 52px;
    margin: 0 auto;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #131313;
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.instagram_icon{
    width: 19px;
    height: 19px;
}
.twitter_icon{
    width: 19px;
    height: 16px;
}
.google_icon{
    width: 18px;
    height: 18px;
}
.facebook_icon{
    width: 9px;
    height: 19px;
}