.inputRange {
    height: 1rem;
    position: relative;
    width: 100px;
}

.minLabel {
    position: absolute;
    left: 0;
    bottom: -1.4rem;
}

.maxLabel {
    position: absolute;
    right: 0;
    bottom: -1.4rem;
}

.labelContainer {
    color: #aaaaaa;
    font-family: "Helvetica Neue", san-serif;
    font-size: 0.8rem;
    transform: translateZ(0);
    white-space: nowrap;
}

.label {
    display: none;
}

.track {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%;
    background: #eeeeee;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
}

.activeTrack {
    background: #00a046;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
}

.sliderContainer {
    width: 16px;
    height: 16px;
}

.slider {
    appearance: none;
    background: #00a046;
    border: 1px solid #00a046;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: absolute;
    width: 1rem;
}