.productsWrapp {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.productsElemWrapp {
    height: 770px;
    max-width: 1438px;
    min-width: 1170px;
    padding: 24px;
    display: flex;
}