.scroll {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: translate3d(0, 0, 0); /* Иначе нативный скролл виден снаружи */
}

.scrollCaret {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .24;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    transition:
        width .2s ease,
        height .2s ease,
        opacity .2s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        top: 3px;
        right: 3px;
        bottom: 3px;
        left: 3px;
        border-radius: 12px;

        .scroll_theme_default & {
            background-color: #000000;
        }

        .scroll_theme_light & {
            background-color: #ffffff;
        }
    }

    &:hover {
        opacity: .36;
    }

    .scrollBar_dragging & {
        opacity: .48;
    }

    .scrollBar_direction_horizontal & {
        height: 10px;
    }

    .scrollBar_direction_horizontal.scrollBar_dragging &,
    .scrollBar_direction_horizontal &:hover {
        height: 12px;
    }

    .scrollBar_direction_vertical & {
        width: 10px;
    }

    .scrollBar_direction_vertical.scrollBar_dragging &,
    .scrollBar_direction_vertical &:hover {
        width: 12px;
    }

    /* Отключаем увеличение по ховеру на мобилах (таскание на нем и так было выключено) */
    @media (pointer: coarse) {
        pointer-events: none;
    }
}

.scrollBar {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 101; /* TODO: понять зачем, скорее всего нужно убрать */
    transition: opacity .2s ease-in-out;

    &_visible {
        opacity: 1;
    }

    &_direction {
        &_horizontal {
            left: 0;
        }

        &_vertical {
            top: 0;
        }
    }
}

.contentWrapper {
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;

    &_scrollY {
        overflow-y: scroll;
    }

    &_scrollX {
        overflow-x: scroll;
    }
}

.nativeScrollContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &_hidden {
        -ms-overflow-style: none; /* IE */
        scrollbar-width: none; /* FF */ /* stylelint-disable-line */

        &::-webkit-scrollbar { /* WebKit */
            width: 0;
        }
    }
}
