.carousel {
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.sliderTrack {
    position: relative;
    width: 9999px;
    left: 0;
}

.slide {
    display: inline-block;
    position: relative;
    width: 100vw;
}

.imageWrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    display: flex;
}

.image {
    width: 100%;

    @media (max-width: 1024px) {
        width: auto;
        height: 50vh;
    }
}

.contentWrapper {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    right: 130px;
    left: 130px;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 1024px) {
        right: 90px;
        left: 90px;
    }

    @media (max-width: 1024px) {
        right: 20px;
        left: 20px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 1000px;

    @media (max-width: 1024px) {
        width: 100%;
    }
}

.title {
    font-family: MontserratRegular;
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    text-align: right;
    line-height: 96px;

    @media (max-width: 1024px) {
        font-size: 40px;
        line-height: 40px;
    }

    @media (max-width: 600px) {
        font-size: 30px;
        line-height: 30px;
    }
}

.description {
    font-family: MontserratRegular;
    color: #fff;
    font-size: 26px;
    text-align: right;

    @media (max-width: 1024px) {
        font-size: 18px;
        margin-top: 15px;
    }

    @media (max-width: 1024px) {
        font-size: 14px;
        margin-top: 15px;
    }
}

.dots {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
}

.dot {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    cursor: pointer;
    background-color: #ffffff;

    &:not(:first-child) {
         margin-left: 24px;
    }
}

.dotActive {
    background-color: #00a046;
}
