.buttonDefault {
    @mixin removeDefaultButton
}

.button {
    padding: 0;
    cursor: pointer;
}

.line {
    display: block;
    width: 25px;
    height: 3px;
}

.lineTop {
    transform: rotate(45deg);
    transform-origin: 55% 15%;
}

.lineBottom {
    transform: rotate(-45deg);
    transform-origin: 30% 15%;
}

.lineWhite{
    background-color: #ffffff;
}

.lineBlack{
    background-color: #000000;
}