.productPreview{
    width: 700px;
    background-color: #ffffff;
    position: relative;

    @media (max-width: 720px){
        width: 100vw;
        top: 0;
        left: 0;
    }
}

.productPhotoContainer{
    width: 700px;
    height: 284px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    border: 3px solid #ffffff;

    @media (max-width: 720px){
        width: 100vw;
        height: 40vw;
        border: none;
    }
}

.slides{
    position: relative;
    display: flex;
    align-items: center;
    transition: 800ms ease;
}

.productPreviewSlide{
    width: 700px;
    flex-shrink: 0;
    height: auto;
    display: inline-block;

    @media (max-width: 720px){
        width: 100vw;
    }
}

.slidePhoto{
    width: 100%;
    height: auto;
}

.buttonLeft, .buttonRight{
    position: absolute;
    margin: 0 24px;
    cursor: pointer;
    width: auto;
    height: auto;
    background: none;
    border: none;
    outline: none;
}

.buttonLeft{
    left: 0;
}

.buttonRight{
    right: 0;
}

.buttonRight .arrowButton{
     background: url('/src/apps/client/ui/components/ProductPreview/images/arrowRight.png') center;
     background-size: 100% auto;
     width: 32px;
     height: 32px;
 }

.buttonLeft .arrowButton{
    background: url('/src/apps/client/ui/components/ProductPreview/images/arrowLeft.png') center;
    background-size: 100% auto;
    width: 32px;
    height: 32px;
}

.dotsContainer{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    position: absolute;
    bottom: 0;
    left: 0;

    @media (max-width: 720px){
        width: 100vw;
    }
}

.buttonDots{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonDots :last-child{
    margin-right: 0;
}

.dot{
    width: 13px;
    height: 13px;
    margin-right: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.dotActive{
    background-color: #00a046;
}

.buttonDots .lastChildDot{
    margin-right: 0;
}

.productPreviewHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 34px 0 47px 0;

    @media (max-width: 720px){
        margin: 34px 0;
    }
}

.productName{
    text-transform: uppercase;
    font-family: HelveticaNeueCyrBold;
    font-size: 24.5px;
    line-height: 30.5px;
    color: #000000;
}

.likeIcon{
    width: 21px;
    height: 18px;
    position: relative;
    right: -40px;
    margin-left: -20px;
    cursor: pointer;
}

.productPreviewInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    width: 700px;

    @media (max-width: 720px){
        width: 100vw;
    }

    @media (max-width: 699px){
        flex-direction: column-reverse;
    }
}

.parameters{
    width: 273px;

    @media (max-width: 699px){
        margin: 34px auto 0 auto;
    }
}

.parameterLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 273px;
    min-height: 26px;
    padding: 5px 13px;
}

.parameterLineGrey{
    background-color: #f1f1f1;
}

.parameterName{
    font-family: HelveticaNeueCyrBold;
    font-size: 11px;
    line-height: 24px;
    color: #000000;
}

.parameterValue{
    font-family: HelveticaNeueCyrLight;
    font-size: 11px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    text-align: right;
}

.description{
    width: 379px;
    font-family: HelveticaNeueCyrRoman;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    flex-shrink: 0;
    margin-left: 16px;

    @media (max-width: 699px){
        width: 84%;
        margin: 0;
        text-align: center;
    }
}

.buttonContainer{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px 0 19px 0;
    background-color: #ffffff;

    @media (max-width: 720px){
        width: 100vw;
    }
}
.buttonDefault{
    @mixin removeDefaultButton
}
.addToBasketButton{
    width: 275px;
    height: 44px;
    background-color: #00a046;
    color: #ffffff;
    font-family: HelveticaNeueCyrBold;
    font-size: 14px;
    line-height: 35px;
    text-transform: uppercase;
    cursor: pointer;
}