.productPreviewContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.productPreviewContainer::-webkit-scrollbar {
    width: 0;
}

.productPreviewContainer {
    -ms-overflow-style:
            none;
}

.productPreviewContainer {
    overflow: -moz-scrollbars-none;
}

.productPreview{
    width: 696px;
    background-color: #ffffff;
    position: relative;
}

.productPhotoContainer{
    width: 696px;
    height: 284px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.slides{
    position: relative;
    display: flex;
    align-items: center;
    transition: .5s ease;
}

.productPreviewSlide{
    width: 696px;
    flex-shrink: 0;
    height: auto;
    display: inline-block;
}

.slidePhoto{
    width: 100%;
    height: auto;
}

.buttonLeft, .buttonRight{
    position: absolute;
    margin: 0 24px;
    cursor: pointer;
    width: auto;
    height: auto;
    background: none;
    border: none;
    outline: none;
}

.buttonLeft{
    left: 0;
}

.buttonRight{
    right: 0;
}

.buttonDisabled{
    filter: invert(20%);
}

.dotsContainer{
    width: 696px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.buttonDots{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dot{
    width: 13px;
    height: 13px;
    margin-right: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.dotActive{
    background-color: #00a046;
}

.buttonDots .lastChildDot{
    margin-right: 0;
}

.productPreviewHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 34px 0 47px 0;
}

.productName{
    text-transform: uppercase;
    font-family: HelveticaNeueCyrBold;
    font-size: 24.5px;
    line-height: 30.5px;
    color: #000000;
}

.likeIcon{
    width: 21px;
    height: 18px;
    position: relative;
    right: -40px;
    margin-left: -20px;
    cursor: pointer;
}

.productPreviewInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    width: 696px;
}

.productPreviewInfo{
    width: 273px;
}

.parameterLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 273px;
    height: 26px;
    cursor: pointer;
    padding: 0 13px;
}

.parameterLine:hover{
    background-color: #f1f1f1;
}

.parameterName{
    font-family: HelveticaNeueCyrLight;
    font-size: 11px;
    line-height: 24px;
    color: #000000;
}

.parameterValue{
    font-family: HelveticaNeueCyrBold;
    font-size: 11px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
}

.description{
    width: 379px;
    font-family: HelveticaNeueCyrRoman;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    flex-shrink: 0;
    margin-left: 16px;
}

.buttonContainer{
    width: 696px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 27px 0 19px 0;
}

.addToBasketButton{
    width: 275px;
    height: 44px;
    background-color: #00a046;
    color: #ffffff;
    font-family: HelveticaNeueCyrBold;
    font-size: 14px;
    line-height: 35px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
}