.commentWrapper {
    display: flex;
    width: 537px;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 32px;

    @media (max-width: 720px){
        width: 100%;
    }
}

.rating {
    display: flex;
    position: relative;
    top: -3px;
}

.stars :last-child{
    margin-right: 0;
}

.star{
    display: inline-block;
    margin-right: 5px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
}

.title {
    display: flex;
    font-family: HelveticaNeueCyrLight;
    font-size: 16px;
    align-items: flex-start;
    line-height: normal;
    margin-bottom: 16px;
}

.name {
    margin-right: 12px;
    display: flex;
    align-items: center;
    text-align: left;
    font-family: HelveticaNeueCyrBold;
    line-height: normal;
}

.comment {
    font-family: HelveticaNeueCyr;
    font-size: 12px;
    display: flex;
    width: 100%;
    text-align: left;
    line-height: 24px;

}