.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.productCardContainer{
    width: 100%;
}

.topProductInfo{
    min-width: 1170px;
    max-width: 1438px;
    margin: 0 auto 60px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    padding: 52px;

@media (max-width: 1169px){
    max-width: 100%;
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 0;
    margin: 0 auto 60px auto;
}
}

.bottomProductInfo{
    min-width: 1170px;
    max-width: 1438px;
    margin: 0 auto 60px auto;
    padding: 0 52px;

    @media (max-width: 1169px){
        max-width: 100%;
        min-width: 100%;
        padding: 0 8%;
        margin: 0 auto;
    }
}

.productInfo{
    min-width: 450px;
    max-width: 550px;
    padding: 0 30px;

    @media (max-width: 1169px){
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        min-width: 100%;
    }
}

.productInfo .description{
    width: 80%;

    @media (max-width: 720px){
        width: 90%;
    }
}

.tags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;

    @media (max-width: 1169px){
        display: none;
    }
}

.tags :last-child{
    margin-right: 0;
}

.tag{
    width: auto;
    margin-right: 10px;
    font-family: HelveticaNeueCyrBold;
    font-size: 8px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    white-space: pre-line;
}

.productCardHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 22px;

    @media (max-width: 1169px){
        justify-content: center;
    }
}

.productName{
    color: #000000;
    text-transform: uppercase;
    font-family: HelveticaNeueCyrBold;
    font-size: 31px;
    line-height: 39px;
    text-align: left;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.heartIcon{
    width: 18px;
    height: 15px;
    cursor: pointer;
    margin-left: 20px;
}

.basketIcon{
    width: 21px;
    height: 20px;
    cursor: pointer;
    margin-left: 20px;
    color: #
}

a {
    text-decoration: none;
}

.stars{
    margin-bottom: 33px;
    display: block;

    @media (max-width: 1169px){
        display: none;
    }
}

.stars :last-child{
    margin-right: 0;
}

.star{
    display: inline-block;
    margin-right: 5px;
}

.order{
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 18px;
    height: 90px;

    @media (max-width: 1169px){
        align-items: center;
        margin: 18px 0;
    }
}

.prices{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.pricePrevious{
    font-family: HelveticaNeueCyrBold;
    font-size: 14.5px;
    line-height: 39px;
    color: #000000;
    text-align: center;
    margin-right: 10px;
    position: relative;
    bottom: -5px;
    text-decoration: line-through;
}

.price{
    font-family: HelveticaNeueCyrBold;
    font-size: 31px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.priceDiscount{
    color: #ff0000;
    margin-right: 10px;
}

.buttonDefault{
    @mixin removeDefaultButton
}

.orderButton{
    height: 37px;
    width: 234px;
    background-color: #00a046;
    color: #ffffff;
    font-family: HelveticaNeueCyrBold;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.orderButtonDisabled{
    background-color: #d9d9d9;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.bottomHeader{
    text-transform: uppercase;
    font-family: HelveticaNeueCyrBold;
    font-size: 24.5px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}

.description{
    font-family: HelveticaNeueCyrRoman;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    width: 90%;
    display: none;

    @media (max-width: 1169px){
        display: block;
    }
}

.descriptionText{
    font-family: HelveticaNeueCyrRoman;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    width: 60%;

    @media (max-width: 1169px){
        width: 90%;
    }

    @media (max-width: 720px){
        width: 100%;
    }
}

.parameters{
    width: 60%;

    @media (max-width: 1169px){
        width: 90%;
    }

    @media (max-width: 720px){
        width: 100%;
    }
}

.parameterLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 36px;
    padding: 5px 36px;
}

.parameterLineGrey{
    background-color: #f1f1f1;
}

.parameterName{
    font-family: HelveticaNeueCyrBold;
    font-size: 16.5px;
    line-height: 22px;
    color: #000000;

    @media (max-width: 600px){
        font-size: 14px;

    }
}

.parameterValue{
    font-family: HelveticaNeueCyrLight;
    font-size: 16.5px;
    line-height: 22px;
    color: #000000;
    text-transform: uppercase;
    text-align: right;

    @media (max-width: 600px){
        font-size: 14px;
    }
}

.feedbacks{
    width: 100%;
}

.creatingFeedback {
    width: 394px;

    @media (max-width: 500px) {
        width: 100%;
    }
}

.previouslyViewed{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.previouslyViewedItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar{
    width: 132px;
    height: 120px;
}

.itemInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 37px;
    justify-content: unset;
}

.viewedProductName{
    font-family: HelveticaNeueCyrBold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.viewedCategoryName{
    font-family: HelveticaNeueCyrRoman;
    font-size: 10.5px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.itemPrice{
    font-family: HelveticaNeueCyrBold;
    font-size: 18.5px;
    line-height: 21.5px;
    text-align: center;
    color: #000000;
}

.notAvailableContent{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.notAvailableMessage{
    text-align: center;
    color: #000000;
    font-size: 10.5px;
    font-family: HelveticaNeueCyrRoman;
    line-height: 13px;
    width: 232px;
    height: 38px;
    margin-bottom: 15px;
}

.notAvailableInput{
    width: 232px;
    height: 38px;
    padding: 14px;
    color: #d9d9d9;
    font-family: HelveticaNeueCyrRoman;
    font-size: 11px;
    outline: none;
}

.productDescription{
    display: flex;

    @media (max-width: 1169px){
        display: none;
    }
}