.contentWrapp {
    display: flex;

    @media (max-width: 1023px){
        display: block;
    }
}

.filtersWrapp {
    display: flex;
    flex-direction: column;

    @media (max-width: 1023px){
        flex-direction: row;
    }
}