.slider_container_first_slide{
    height: 480px;
    width: 100%;
    background-size: cover;
}
.slider_container_second_slide{
    height: 480px;
    width: 100%;
    background-size: cover;
    position: relative;
    top: -480px;
}
.slider_container_third_slide{
    height: 480px;
    width: 100%;
    background-size: cover;
    position: relative;
    top: -960px;
}

